<mat-toolbar color="primary">
  <!-- AGREGADO -->  
  <span>
    <!-- Agregamos un boton de inicio -->  
  <a mat-button routerLink="">
    <!-- Podemos agregar una imagen con el maticon -->  
    <mat-icon >home</mat-icon>Inicio
  </a>
</span>

    <span>
          <!-- Podemos agregar en forma de boton -->  
        <a mat-button routerLink="/listar">
          <!-- Podemos agregar una imagen con el maticon -->  
            <mat-icon >manage_accounts</mat-icon>Listado de Alumnos
        </a>
    </span>
    <span>
      <!-- Podemos agregar en forma de boton -->  
    <a mat-button routerLink="/listarprofesores">
      <!-- Podemos agregar una imagen con el maticon -->  
        <mat-icon >school</mat-icon>Listado de Profesores
    </a>
</span>
</mat-toolbar>
